<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ỨNG DỤNG QUẢN LÝ SÁCH</title>
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
</head>

<body>
    <th:block th:replace="~{layout::header}"></th:block>
    <div class="container">
        <div class="home-hero">
            <h1 class="home-title">TRANG CHỦ ỨNG DỤNG QUẢN LÝ SÁCH</h1>
            <h2 class="home-subtitle">KẾT NỐI CSDL MYSQL</h2>
        </div>
    </div>
    <th:block th:replace="~{layout::footer}"></th:block>
</body>

</html>